#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 100;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7em;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.nav-logo {
  margin: 12px 20px 0 0 ;
  width: 8em;
  height: 3em;
}

a {
  margin: 10px 0 0 0;
  font-weight: 500;
  color: #1A1F2B;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: transparent;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}


 /* pages Daskboard */
 div {
  display: flex;
  flex-direction: column;
 }

 /* pages Home */
 #home {
  position: relative; 
  margin: 7em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-hero {
  position: relative; 
}

.content-hero img {
  width: 100%; 
  height: auto; 
}

.content-hero::before,
.content-hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-size: cover;
}

.content-hero::before {
  left: 0;
  background-image: url('./assets/Gambar1.png');
}

.content-hero::after {
  right: 0;
  background-image: url('./assets/Gambar2.png');
  transform: scaleY(-1);
}

.content-hero h1 {
  position: absolute;
  top: 45%;
  left: 35%;
  right: 15%;
  transform: translate(-50%, -50%); 
  color: #1A1F2B;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  text-align: justify;
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
  width: 10em;
  height: 5em;
  position: absolute; 
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}

h2 {
  font-size: 1em;
}

#div-resep-terpopuler,
#div-berdasarkan-kategori,
#div-untuk-kamu,
#div-bedasarkan-bahan {
  margin: 20px 0;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-porduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cta-lihat-bahan {
  text-decoration: underline;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.btn-lihat-resep {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #1A1F2B;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

 /* pages Register & Login */
#Login,
#Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  max-width: 600px;
  padding: 2em;
}
.form-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  max-width: 600px;
  padding: 2em;

}
.Welcome {
  font-size: 2rem;
  font-family: initial;
}
.Logo-log-reg {
  margin: 0 0 0 0;
  width: 60%;  
}
.slogan {
  margin: 30px 0 0 0;
  font-size: 16px;
  color: #1A1F2B;
  font-family: initial;
}
.content0 {
  margin: -20px 0 0 0;
  align-items: center;
}
.content1 {
  align-items: flex-start;
  margin: 30px 0 0 0;
  gap: 1em;
}

label {
  font-size: 1.2em;
  font-weight: 600;
  color: #1A1F2B;
}

input {
  align-items: center;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid;
  background-color: #D9D9D9;
  font-size: 1em;
  color: #1A1F2B;
  font-weight: inherit;
  width: 20em;
}

.forget-pw {
  font-size: 12px;
}

.btn-log, .btn-reg{
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid ;
  background-color: #D9D9D9;
  font-family: inter;
  color: #1A1F2B;
  font-size: 1em;
  cursor: pointer;
  align-items: center;
  width: 210px;
}

button:hover {
  background-color: rgb(185, 185, 185);
}

.Dont-have-account{
  font-size: 12px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-reg {
  margin: 40px 0 0 0;
}
.act-reg, .act-log {
  color: #1A1F2B;
  font-weight: bold;
}
.act-reg:hover, .act-log:hover {
  color: #000000;
} 

@media (max-width: 768px) {

}