# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
Thumbs.db