@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Outfit", sans-serif;
  background: #fffefb;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

[role="dialog"] {
  height: fit-content;
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

[aria-label="sidebar-filter"] nav {
  background-color: transparent;
}

